.Container {
  padding: 20px;
}
.Link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: -0.025em;
  color: #2085c9;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.025em;
  color: #191716;
}
