.Container {
  padding: 32px;
}
.Header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  align-items: stretch;
}
.Divider {
  height: 70px;
  background-color: #e4ecf7;
  color: #e4ecf7;
  margin: 0 20px;
  align-self: stretch;
}
.ValueContainer {
  width: 30%;
}
.Title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: #425d8a;
  margin-bottom: 16px;
}
.Value {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #191716;
}
.Control {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}
.Dropdown {
  background-color: inherit;
  border-radius: 40px;
  padding: 5px 5px;
  border-color: #425c8a2c;
  display: flex;
  align-items: center;
}
.Dropdown > span {
  color: #425d8a;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  margin-right: 5px;
  margin-left: 5px;
}
.DropdownIcon {
  margin-top: 5px;
}
.Percentage {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.SummaryTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.025em;
  color: #ed6a5a;
  margin-left: 3px;
}
@media screen and (max-width: 500px) {
  .Container {
    padding: 5px;
  }
  .Title {
    font-size: 10px;
  }
  .Dropdown {
    padding: 0;
  }
  .Dropdown > span {
    font-size: 9px;
  }
  .Divider {
    height: 35px;
  }
  .Value {
    font-size: 20px;
  }
  .SummaryCard,
  .SummaryTitle {
    width: 100%;
  }
  .AreaChartCol {
    width: 100% !important;
    flex: 1;
  }
}
